.home-header {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
    max-width: 1024px;
    padding: 36px 0;

    padding-left: 24px;
    padding-right: 24px;

    .links {
        font-family: 'Roboto';
        letter-spacing: 0px;

        .link {
            margin-left: 16px;

            &:hover,
            &:active {
                border-bottom: 2px solid #000;
            }
        }
    }
}

.home {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1024px;

    padding-left: 24px;
    padding-right: 24px;
    justify-content: center;
    flex-direction: column;

    .home-logo {
        font-size: 3em;
    }

    h1 {
        font-size: 3em;
        font-family: 'Lato';
        max-width: 500px;
        margin-bottom: 18px;
        margin-right: 0;
    }

    h2 {
        margin-bottom: 18px;
        font-size: 1em;
    }
}

.home-container {
    background-color: #F9E46B;
    padding-bottom: 48px;
    height: 100vh - 3vh;
    margin-bottom: 48px;
}

.home-body {
    height: 100vh;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 24px;
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: rotate(-90deg) translateY(0);
    }

    40% {
        transform: rotate(-90deg) translateX(20px);
    }

    60% {
        transform: rotate(-90deg) translateX(15px);
    }
}

.topArrow {
    fill: #000;
    transform: rotate(-90deg);
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 5%;

    animation: (bounce 2s infinite);
}