.recipe-if {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 32px;

    .recipe-img-container {
        margin-right: 30px;
        max-width: 50%;
    }

    .recipe-deetz {

        .recipe-info {
            font-size: 14px;
            margin-bottom: 12px;
        }

        .recipe-author {
            margin-bottom: 16px;
        }

        .recipe-title {
            font-weight: bold;
        }
    }
}

.ingredients {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;

    h1 {
        font-size: 2em;
        font-weight: bold;
    }

    p {
        margin: 3px 0;
    }
}

.instructions {

    h1 {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 8px;
    }
}