.scroll {
  opacity: 0.5;
  background-color: gray;
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
  z-index: 10000000;
}

.scroll:hover {
  opacity: 0.8;
  z-index: 10000000;
}

.arrow-up {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  z-index: 10000000;
}
